<h1>Login</h1>
<form action="/auth" method="POST">

  <label for="username">Username: </label>
  <input type="text" name="username" placeholder="pepipalotes" required>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" placeholder="🔒" required>

  <button type="submit">Log in</button>
</form>
{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}