<div class="d-flex col h-100 justify-content-center">
<div class="container d-flex justify-content-center position-absolute bg-dark" style="margin-top: 0%;">
  <img
    class="pie-img position-absolute" style="margin-top: -25%; width: 40%"
    src="/images/pie_image_login.png"
    alt="Cherry Pie Image"
  /></img>
</div>
<div
  class="container login-block text-center d-flex justify-content-center align-items-center h-100"
>

  <main class="form-signin d-flex flex-column justify-content-center">

    <form class="d-flex flex-column loginFormalign-items-center" style="height: 50%" action="/auth" method="POST">

      <a class="active"href="/"><img style="width: 40%" 
          class="logo-img"
          src="/images/logo.png"
          alt="logo!"
        /></a>
      <div class="form-floating mb-3">
        <input
          class="form-control w-100"
          id="floatingInput"
          type="text"
          name="username"
          placeholder="Surname"
          required
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input
          class="form-control w-100"
          id="floatingPassword"
          type="password"
          name="password"
          id="password"
          placeholder="Surname"
          required
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    </form>

    Hungry and without an account?
    <a href="/auth/signup"><span class="text-primary p-1 mt-3">Sign up</span></a>

  </main>
</div>
{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}
</div>