



<div class="signup-block">
  <h1 class="ramaraja p-10">Sign up:</h1>


  <div
    class="container login-block text-center d-flex justify-content-center align-items-center h-100" style="background-color: aliceblue; width:fit-content; padding: 30px; padding-bottom: 10px; border: rgb(198, 225, 255) solid 1px; width: 40%"
  >

    <main class="form-signin d-flex flex-column justify-content-center w-100">

      <form
        class="loginForm justify-content-center"
        style="height: 50%"
        action="/auth/signup"
        method="POST"
      >

        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="floatingName"
            type="text"
            name="name"
            placeholder="Name"
            required
          />
          <label for="floatingName">Name</label>
        </div>

        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="floatingSurname"
            type="text"
            name="surname"
            placeholder="Surname"
            required
          />
          <label for="floatingSurname">Surname</label>
        </div>


        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="floatingUsername"
            type="text"
            name="username"
            placeholder="Username"
            required
          />
          <label for="floatingUsername">Username</label>
        </div>


        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="floatingEmail"
            type="email"
            name="email"
            placeholder="Email"
            required
          />
          <label for="floatingEmail">Email</label>
        </div>


        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="floatingPassword"
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <label for="floatingPassword">Password</label>
        </div>


        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign me up!</button>
      </form>

    </main>
  </div>

  <a href="/auth" class="mt-3" style="font-size: smaller;">Go back</a>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</div>