{{>navbar userInfo=userInfo}}

<h1>Create New Recipe</h1>

<form action="/library/create" method="POST" enctype="multipart/form-data" class="border border-2 p-2 bg-light">
  <label for="name">Name: </label>
  <input class="form-control" type="text" name="name" required />
  <div class="form-group">
    <div>
    <label class="form-label" for="profilePhoto"></label>
    <input class="form-control" type="file" id="formFile" name="imgUrl" required/>
    </div>
  </div>
  <div class="row">
    <div class="col">
  <label for="prepTime">Prep Time: </label>  
  <input class="form-control" type="number" name="prepTime" placeholder="Minutes" required />
</div>
      <div class="col">
  <label for="cookingTime">Cooking Time: </label>
  <input class="form-control" type="number" name="cookingTime" placeholder="Minutes" required>
    </div>
  </div>
  <label for="difficulty">Difficulty:</label>
  <select class="form-select" name="difficulty" id="difficulty">
    <option value="Easy">Easy</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
  </select>
   <label for="flavour">Flavour:</label>
  <select class="form-select" name="flavour" id="flavour">
    <option value="Sweet">Sweet</option>
    <option value="Savoury">Savoury</option>
    <option value="Other">Other</option>
  </select>
  <label for="ingredients">Ingredients: </label>
  <input class="form-control" type="text" name="ingredients" placeholder="Ingredients" required>
  <label for="steps">Steps: </label>
  <input class="form-control" type="text" name="steps" placeholder="Steps" required>
  <br>
  <button class="btn btn-primary" type="submit">Create</button>
</form>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}