<div>
    <p>{{this.name}}</p>
    <hr>
    <p>Author: {{this.author.username}}</p>
    <img src="{{this.image}}">
    <details><summary>Ingredients</summary>
    <ul>
        {{#each ingredients}}
        <li>
            {{this}}
            </li>
        {{/each}}

    </ul>
    </details>
</div>