{{>navbar userInfo=userInfo}}


<h1>Library</h1>

<div>
<h1>PIE OF THE WEEK: {{this.name}}</h1>
<img src="https://tastesbetterfromscratch.com/wp-content/uploads/2015/10/Pumpkin-Pie-5-500x500.jpg" alt="Pumpkin Pie" width="150px" height="150px">
</div>

<form action="/library" method="POST">

  <label for="search"></label>
  <input type="text" name="search" placeholder="Search by keywords" required>
  <button type="submit">🔎</button>

</form>


    <div>
        <a href="/library/search?q1=pie">ALL PIES</a>
        <a href="/library/search?q1=carrot">CARROT</a>
        <button type="submit">Sweet</button> 
        <button type="submit">Savory</button> 
    </div>
<hr>
    <div>
        <button type="submit">Dairy-free</button> 
        <button type="submit">Gluten-free</button> 
    </div>
<hr>
    <div>
        <button type="submit">Vegetarian</button> 
        <button type="submit">Vegan</button> 
    </div>

<a href="/library/create">Create Recipe</a>
<br>
<a href="/welcome">Welcome</a>