{{>navbar userInfo=userInfo}}

<br>
<h1><a class="btn btn-success btn-xl btn-block" href="/library/create">Create Recipe!</a></h1>
<hr>
<div class="container recipe-search">
    <form action="/library/search" method="GET">
    <div class="form-label-group d-flex">
        <input type="text" id="inputSearch" class="form-control" name="search" placeholder="Search by keywords" required>
        <button class="btn" type="submit">🔎</button>
        <label for="inputSearch"></label>
    </div>
    </form>
</div>
<hr>
<div class="row">
    <div class="col">
        <a class="btn btn-dark" href="/library/search?search=pie">All Pies</a>
    </div>
    <div class="col">
        <a class="btn btn-secondary" href="/library/search?search=sweet">Sweet</a>
    </div>
    <div class="col">
        <a class="btn btn-secondary" href="/library/search?search=butter">Butter</a>
    </div>
    <div class="col">
        <a class="btn btn-secondary" href="/library/search?search=lactosefree">Lactose Free</a>
    </div>
</div>    
<hr>
<div class="text-center">
    <h3>Pie of the week: {{this.name}}</h3>
    <img src="https://tastesbetterfromscratch.com/wp-content/uploads/2015/10/Pumpkin-Pie-5-500x500.jpg" class="rounded-circle" alt="Pumpkin Pie" width="150px" height="150px">
</div>
<br>
