{{>navbar userInfo=userInfo}}


<h1>Library</h1>

<div>
<h1>PIE OF THE WEEK: {{randomRecipe.name}}</h1>
    {{#if randomRecipe.recipePhoto}} 
        <img src="{{randomRecipe.recipePhoto}}" class="recipePhoto">
    {{/if}}
</div>

<form action="/library" method="POST">

  <label for="search"></label>
  <input type="text" name="search" placeholder="Search by keywords" required>
  <button type="submit">🔎</button>

</form>


    <div>
        <button type="submit">Sweet</button> 
        <button type="submit">Savory</button> 
    </div>
<hr>
    <div>
        <button type="submit">Dairy-free</button> 
        <button type="submit">Gluten-free</button> 
    </div>
<hr>
    <div>
        <button type="submit">Vegetarian</button> 
        <button type="submit">Vegan</button> 
    </div>

<a href="/library/create">Create Recipe</a>
<br>
<a href="/welcome">Welcome</a>