{{>navbar userInfo=userInfo}}

<br>
<h1>Recipes</h1>
<hr>
<div>
<h3>Pie of the week: {{this.name}}</h3>
<img src="https://tastesbetterfromscratch.com/wp-content/uploads/2015/10/Pumpkin-Pie-5-500x500.jpg" alt="Pumpkin Pie" width="150px" height="150px">
</div>
<br>
<form action="/library/search" method="GET">
<div class="form-label-group d-flex">
  <input type="text" id="inputSearch" class="form-control" name="search" placeholder="Search by keywords" required>
  <button type="submit">🔎</button>
  <label for="inputSearch"></label>
</div>
</form>
    <div class="d-flex justify-content-center">
        <a class="btn btn-dark btn-ml w-100" href="/library/search?search=pie">All Pies</a> <hr>
    </div>
    <hr>
<h3>Popular filters</h3>
    <br>
    <div class="d-flex justify-content-center">
    <div class="justify-content-between">
        <a class="btn btn-secondary btn-xl btn-space" href="/library/search?search=sweet">Sweet</a>
        <a class="btn btn-secondary btn-xl btn-space" href="/library/search?search=butter">Butter</a>
        <a class="btn btn-secondary btn-xl btn-space" href="/library/search?search=lactosefree">Lactose Free</a>
    </div>
    </div>
    <hr>
<h3>Did we miss any recipe out?</h3>
<a class="btn btn-success btn-xl btn-block" href="/library/create">Create Recipe!</a>
<br>
<br>
<br>
<a class="btn btn-danger btn-sm btn-block" href="/welcome">Go back</a>
