<h1>List (ie search results)</h1>



<ul class="recipe-list">
  {{#each recipes}}
    <li>
        {{this.name}}
        Author: {{this.author.username}}
        <a href="/library/details/{{this.id}}">See details</a>
    </li>
  {{/each}}
</ul>