<div class="topnav">
  <a class="active" href="/"><img class="logo-img"
      src="/images/logo.png"
      alt="logo!"
    /></a>
  <div class="right-side">
    <a class="nav-items" href="/library">Library</a>
    <a class="nav-items" href="/feed">Feed</a>
    <a class="nav-items" href="/profile/{{userInfo}}">Profile</a>
  </div>
</div>