.bg-colour {
  background-color: rgb(255, 225, 157);
}

:root {
  --soft-pink: #FDEFEF;
  --skin-colour: #F4DFD0;
  --sand-colour: #DAD0C2;
  --light-brown: #CDBBA7;

}

body {
  margin: 0px;
  font: 16px "Roboto", Helvetica, Arial, sans-serif;
  background-color: var(--soft-pink);
  padding: 0 15%;
  /* background-color: var(--soft-pink); */
}

a {
  color: #00b7ff;
}

.topnav {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 3%;
}

.topnav a.active {
  color: rgb(231, 145, 145);
  font-family: "Ramaraja", serif;
  font-size: 2em;

  width: 30px;
}

.right-side {
  display: flex;
  justify-content: space-evenly;
}

.nav-items {
  text-decoration: wavy;
  margin: 0 20px;
}

.postPhoto {
  width: 200px;
}

.recipePhoto{
  width: 200px;
}

/*
.post {
  background-color: white;
  border: 1px solid rgb(255, 146, 146);
  padding: 1% 3% 2% 3%;
  margin: 2% 0;
}*/

.comment-form {
  width: 100%;
}

.like-button {
  text-decoration: none;
}

.logo-img {
  width: 100px;
}

.profile-header {
  margin-top: 2%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profilePhoto-in-profile {
  object-fit: cover;
  display: inline;
  margin: 0 auto;
  width: 20%;
}

.profile-text {
  width: 500px;
  margin-right: 50px;
}

.signup-block {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.signup-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 255, 246);
  padding: 5vh;
  border-radius: 10%;
}

.ramaraja {
  font-family: "Ramaraja";
  color: rgb(59, 0, 28);
}

a {
  text-decoration: none;
  color: black;
}

.btn-space{
  margin: -4vw 4vw 0 4vw;
}

.container .form-control {
  width: 50%;
}


.welcome-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 600px) {
  body {
    padding: 0 5%;
  }
  
  .container .form-control {
    width: 100%;
  }
}
