{{>navbar userInfo=userInfo}}

<h1>Welcome, {{name}}</h1>
<hr>
<a href="/library">Get insPIEred</a>
<hr>
<a href="/feed">Feed</a>
<hr>
<a href="/profile/{{userInfo._id}}">View my profile</a>
<hr>
<a href="/logout">Logout</a>