{{>navbar userInfo=userInfo}}

<h1>Hey there, {{name}}</h1>
<br>
<h3>What do you feel like today?</h3>
<br>
<div class="welcome-buttons">
<a class="btn btn-light" href="/library">Get insPIEred</a>
<br>
<a class="btn btn-light" href="/feed">Feed</a>
<br>
<a class="btn btn-light"href="/profile/{{userInfo._id}}">View my profile</a>
<br>
<a class="btn btn-light" href="/logout">Logout</a>
</div>